html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    /* border: 1px solid red; */
    color: #CBB083;
    font-family: "Montserrat", sans-serif;
}

h1,h2,h3,label {
    font-family: "Megrim", sans-serif;
}

/* NavBar style  */

nav {
    position: fixed;
    background-color: #7593c054;
    backdrop-filter: blur(10px);
    padding: 0 2rem;
    width: 8rem;
    transition: width 0.2s ease;
    z-index: 10;
}

nav:hover {
    width: 18rem;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100svh;
}

nav a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}

.nav-icon {
    min-width: 4rem;
}

.nav-icon path{
    stroke: rgb(150, 150, 150);
    transition: stroke 0.2s ease;
}

#journey-icon{
    fill: rgb(150, 150, 150);
    transition: fill 0.2s ease;
}

nav a p {
    display: none;
    text-align: center;
    font-family: "Megrim",sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    color: rgb(150, 150, 150);
    transition: color 0.2s ease;
    text-wrap: nowrap;
}

a:hover path {
    stroke: #CBB083;
}

a:hover #journey-icon {
    fill: #CBB083;
}

a:hover p {
    color: #CBB083;
}

@media (width > 1000px) {
    nav:hover a p {
        display: block;
    }
}
/* General section style */

section {
    min-height: 100svh;
    padding-left: 7.9rem;
}

.odd {
    background-image: linear-gradient(#0000009f,#0000009f), url(./images/background.jpg);
    background-position: center;
    background-size: cover;
}

.even {
    background-color: #495C78;
}

section h1 {
    text-align: center;
    padding: 1rem;
    font-size: 3rem;
    font-weight: 700;
}

section h2 {
    text-align: center;
}

/* Mobile layout */

@media (width <= 1000px) {
    html{
        scroll-padding-top: 64px;
    }

    nav {
        min-width: 100vw;
        padding: 0.5rem;
    }

    .navbar {
        flex-direction: row;
        min-height: 0;
    }

    .nav-icon {
        height: 3rem;
    }

    .nav-icon path{
        stroke: #CBB083;
    }

    #journey-icon {
        fill: #CBB083;
    }

    section {
        padding-left: 0;
    }

    .even,
    #portfolio,
    #contact {
        min-height: calc(100dvh - 64px);
    }    
}