* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    /* border: 1px solid red; */
    color: #CBB083;
    font-family: "Megrim", sans-serif;
}

/* NavBar style  */

nav {
    position: fixed;
    background-color: #495c7854;
    backdrop-filter: blur(10px);
    padding: 0 1rem;
    width: 10%;
    max-width: 8rem;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

nav svg {
    width: 100%;
}

/* General section style */

section {
    min-height: 100vh;
    padding-left: 8rem;
}

.odd {
    background-image: linear-gradient(#0000009f,#0000009f), url(./images/background.jpg);
    background-position: center;
    background-size: cover;
}

.even {
    background-color: #495C78;
}

/* Home section style */

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
}

#home svg {
    width: 8rem;
}

#title-logo-V {
    position: relative;
    left: 1.5rem;
}

#title-logo-G {
    transform: rotate(18deg);
    position: relative;
    left: 1rem;
}

#home h1 {
    display: inline-block;
    font-size: 5rem;
}

#home h2 {
    font-size: 3rem;
}